HW3/xml/schemas/schema-2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="https://www.w3.org/2009/01/xml.xsd" />
	
	<xs:complexType name="EShopType">
		<xs:sequence>
			<xs:element name="Name" type="LangStringType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="URL" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Icon" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CartType">
		<xs:sequence>
			<xs:element name="ItemCount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalPrice" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="Name" type="LangStringType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Price" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Description" type="LangStringType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Available" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="InStock"/>
						<xs:enumeration value="OutOfStock"/>
						<xs:enumeration value="PreOrder"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromoImages" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EShop" type="EShopType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cart" type="CartType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

		<xs:element name="ItemsHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="LangStringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>